$fonts-headline: 'Rubik', sans-serif,"arial narrow", Arial, Verdana, sans-serif;
$fonts-body: 'Lora', serif,'Merriweather', serif, verdana, arial, sans-serif;
$dark-background-color: black;
$light-background-color: rgb(197, 192, 192);
$accent1: rgb(250, 199, 33);
$accent2: black;
$accent3: brown;
$text-dark: black;
$text-light1: #fff;
$text-light2: yellow;